{% extends "base.html.twig" %}

{% block title %}Pig Game{% endblock %}

{% block body %}
<div class="main">
    <h1>Pig game</h1>
<p>You are playing with {{ pigDices }} dices.</p>
<p>Round: {{ pigRound }}</p>
<p>Total: {{ pigTotal }}</p>
<p>
{% for value in diceValues %}
    <span class="die">{{value}}</span>
{% endfor %}
</p>


<form method="post" action="">
    <input type="submit" name="roll" value="Roll"
    onClick="this.form.action='{{path('pig_roll')}}';">
    <input type="submit" name="save" value="Save"
    onClick="this.form.action='{{path('pig_save')}}';">
    <input type="submit" name="restart" value="Restart"
     onClick="this.form.action='{{ path('pig_init_get') }}';this.form.method='get';">
</form>

</div>
{% endblock %}